@font-face {
  font-family: "iconfont"; /* Project id 3601832 */
  src: url('iconfont.woff2?t=1661062272792') format('woff2'),
       url('iconfont.woff?t=1661062272792') format('woff'),
       url('iconfont.ttf?t=1661062272792') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e68a";
}

.icon-doubleleft:before {
  content: "\e7ed";
}

.icon-arrow-double-right:before {
  content: "\e665";
}

.icon-25planetearthglobalmassbulbideacreati:before {
  content: "\e619";
}

.icon-12planetspaceflagdiscoverybulbidea:before {
  content: "\e61a";
}

.icon-jinbipixel:before {
  content: "\e601";
}

.icon-a-dianchipixel_huaban1:before {
  content: "\e602";
}

.icon-a-jiangbeipixel_huaban1:before {
  content: "\e603";
}

.icon-a-fangzipixel_huaban1:before {
  content: "\e605";
}

.icon-a-lingdangpixel_huaban1:before {
  content: "\e606";
}

.icon-a-huopixel_huaban1:before {
  content: "\e607";
}

.icon-a-lajitongpixel_huaban1:before {
  content: "\e608";
}

.icon-a-youxijipixel_huaban1:before {
  content: "\e609";
}

.icon-a-xinfengpixel_huaban1:before {
  content: "\e60a";
}

.icon-a-rilipixel_huaban1:before {
  content: "\e60b";
}

.icon-a-shandianpixel_huaban1:before {
  content: "\e60c";
}

.icon-a-suopixel_huaban1:before {
  content: "\e60d";
}

.icon-a-dengpaopixel_huaban1:before {
  content: "\e60e";
}

.icon-a-gongjudaopixel_huaban1:before {
  content: "\e60f";
}

.icon-a-chilunpixel_huaban1:before {
  content: "\e610";
}

