body {
  margin: 0;
  /* background-color: rgb(220, 244, 236); */
  background:linear-gradient(rgb(255, 255, 255), 10%, rgb(255, 255, 255));
  padding-inline-start: 0px !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{overflow-y:scroll;}
ul,li{
  margin: 0px ;
  padding: 0px ;
  padding-inline-start: 0px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
